<div class="jumbotron">
  <form class = 'form' action= '/session' method= 'post'>
    <input type= text name= 'user[email]' placeholder = 'email'/>
    <input type= password name= 'user[password]' placeholder = 'password'/><br></br>
    <input type= 'submit' value = 'Login' class="btn btn-primary btn-lg">
  </form>
  <h2>or</h2>
  <a class="btn btn-primary btn-lg" href="/signup" role="button" id="home">Sign Up</a>
</div>
