<div class="center">
<h3>Are you sure you want to logout?</h3>
<form class = 'form' action='/session' method='post'>
  <input type='hidden' name='_method' value='delete' />
  <input type='submit' value= 'Logout' />
</form>
</div>
