<div class="jumbotron">
  <h2>Are you sure you want to logout?</h2>
  <form class = 'form' action='/session' method='post'>
    <input type='hidden' name='_method' value='delete' />
    <input type='submit' value= 'Logout' class="btn btn-primary btn-lg" />
  </form>
</div>
