<div class="jumbotron">
  <div class = 'name'><h1><%=user.name%>'s Surveys</h1></div>

  <div class="created-surveys">
    <a href="/users/<%=user.id%>/surveys/created" class="btn btn-primary btn-md">Created Surveys</a>
  </div>
  <br>
  <div class="taken-surveys">
    <a href="/users/<%=user.id%>/surveys/taken" class="btn btn-primary btn-md">Surveys Taken</a>
  </div>
  <br>
  <div class="new-survey">
    <a href="/surveys/new" class="btn btn-primary btn-md">Create a New Survey</a>
  </div>
</div>
