<div class = 'name'><%=user.name%></div>

<div class="created-surveys">
  <a href="/users/<%=user.id%>/surveys/created" class="btn btn-default btn-md">Created Surveys</a>
</div>
<br>
<div class="taken-surveys">
  <a href="/users/<%=user.id%>/surveys/taken" class="btn btn-default btn-md">Surveys Taken</a>
</div>
<br>
<div class="new-survey">
  <a href="/surveys/new" class="btn btn-default btn-md">Create a New Survey</a>
</div>

