<div class = 'name'><%=user.name%></div>

<div class="created-surveys">
  <a href="/users/<%=user.id%>/surveys/created">Created Surveys</a>
</div>

<div class="taken-surveys">
  <a href="/users/<%=user.id%>/surveys/taken">Surveys Taken</a>
</div>

<div class="new-survey">
  <a href="/surveys/new">Create a New Survey</a>
</div>

