<div class="jumbotron">
  <h1>Results</h1>
  <%survey.questions.each do |question|%>
   <div><h3><%= question.text%></h3></div>
    <%question.answers.each do |answer| %>
      <div><h4><%= answer.text%>
      <%=answer.takers.length%></h4></div>
    <%end%>
  <%end%>
</div>
