<div class="jumbotron">
  <%survey.questions.each do |question|%>
   <div><%= question.text%></div>
    <%question.answers.each do |answer| %>
      <div><%= answer.text%>
      <%=answer.takers.length%></div>
    <%end%>
  <%end%>
</div>
