<div class="jumbotron">
  <h2>Add your possible answers</h2>
  <form action = '/questions/<%=question.id%>/answers' method = 'post' >
    <input type = 'text' name = 'text' placeholder = 'Response' />
    <input type = 'submit' value = 'Add Answer' class="btn btn-primary btn-md"/>
  </form>
  <br>
  <a href="/surveys/<%=question.survey.id%>/questions" class="btn btn-primary btn-md">Create Next Question</a>
  <h4>or</h4>
  <a href="/users/<%= question.survey.creator_id %>" class="btn btn-primary btn-md">Finish Your Survey</a>
</div>
