<div class="jumbotron">
  <h3>Name Your Survey!</h3>
  <div class="form-group">
    <form action="/surveys" method="post">
        <input type ="text" name="survey[title]" placeholder="Survey title"/>
        <input type="submit" value="Submit" class="btn btn-primary btn-md"/>
    </form>
  </div>
</div>
