<div>
  <header>Survey</header>
  <form action="/surveys/new" method="post">
      <input type ="text" name="survey[title]" placeholder="Survey title"/>
      <input type="submit" value="Submit"/>
  </form>
</div>
