<div class="jumbotron">
  <h2>What do you want to know?</h2>
  <form action="/surveys/<%= survey.id %>/questions" method="post">
      <input type ="text" name="question[text]" placeholder="Question"/>
      <input type="submit" value="Submit"/>
  </form>
</div>
