<div>
  <header>Questions</header>
  <form action="/surveys/<%= survey.id %>/questions" method="post">
      <input type ="text" name="question[text]" placeholder="Question"/>
      <input type="submit" value="Submit"/>
  </form>
</div>
