<div class="center">
  <h3>What do you want to know?</h3>
  <form action="/surveys/<%= survey.id %>/questions" method="post">
      <input type ="text" name="question[text]" placeholder="Question"/>
      <input type="submit" value="Submit"/>
  </form>
</div>
