<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/login">PirateMonkey</a>
    </div>
    <div class="nav navbar-nav">
      <li>
        <% if current_user %>
          <a href="/users/<%= current_user.id %>">Profile</a>
        <% end %>
      </li>
      <li>
        <% if current_user %>
          <a href="/surveys/new">New Survey</a>
        <% end %>
      </li>
      <li>
        <% if current_user %>
          <a href="/logout">Logout</a>
        <% else %>
          <a href="/login">Login</a>
        <% end %>
      </li>
    </div>
  </div>
  </div><!-- /.container-fluid -->
</nav>
