<div class="jumbotron">
  <h1 id="welcome">Welcome to Pirate Monkey Survey!</h1>
  <p><a class="btn btn-primary btn-lg" href="/login" role="button" id="home">Login</a></p>
  <p><a class="btn btn-primary btn-lg" href="/signup" role="button" id="home">Sign Up</a></p>
</div>
